.container {
  margin: 0 4%;
  margin-top: 10px;
}

.box {
  margin: 3% 0;
}

.timeContainerName {
  font-size: 5vw;
  font-weight: bold;
}
.emptybox {
  height: 28vw;
  font-size: 4vw;
  font-weight: bold;
  margin-top: 10px;
}
