.container {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.user_info {
  height: 25%;
  margin-top: 30px;
}

.proccessing_timelapse {
  height: 25%;
}
.my_timelapse {
  height: fit-content;
  margin-bottom: 3%;
}
.timeContainerName {
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3%;
}
