.container{
    display: flex;
    flex-direction: column;
}
.user_info{
    border: 1px solid green;
    height: 20vh;
}

.proccessing_timelapse{
    border: 1px solid orange;
    height: 20vh;
}
.my_timelapse{
    border: 1px solid red;
    height: 40vh;
}