.WholeBox {
    padding: 10px;
}

.inputbox {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    z-index: 3;
}

.inputbox:focus-within {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.searchInput {
    flex: 1 0 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}
.DeleteButton {
    cursor: pointer;
}

.DropDownBox {
    display: block;
    margin: 0 auto;
    padding: 8px 0;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.3);
    list-style-type: none;
    z-index: 3;
}

.DropDownItem {
}
