.boxname {
    font-size: 30px;
    font-weight: bold;
    text-align: start;
}

.btn {
    color: white;
    background-color: green;
}

.selectdate {
    width: 100%;
}
.tagList {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    width: fit-content;
    border-radius: 20px;
    padding: 2.5px;
    font-size: 12.5px;
    margin-right: 5px;
    background-color: #efefef;
}

.tagbtn {
    width: 30px;
    height: 30px;
    justify-items: center;
    text-align: center;
    border-radius: 20px;
    font-size: 12.5px;
    padding: 5px;
    margin-left: 5px;
}
.inputbox {
    width: 270px;
    height: 30px;
    border-radius: 10px;
}

.tagInputContainer {
    display: flex;
}
.calender {
    border-radius: 30px;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: #f87171;
    border-radius: 50%;
    display: flex;
    margin-left: 1px;
}
