.container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    margin: 3% 0;
}

.container::-webkit-scrollbar {
  display: none;
}

.timeLaps {
  width: 18vw;
  height: 18vw;
  margin: 0 3.5%;
}

.circularContainer {
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeLapsImage {
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
}

.finish {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.finishContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: white;
    opacity: 1;
    width: 70vw;
    z-index: 4;
    padding: 5%;
    font-size: 5vw;
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    margin-top: 4%;
}

.buttonContainer button {
    border-radius: 40px;
    width: 30vw;
    font-size: 5vw;
    margin: 0 10%;
    border: none;
    outline: none;
}

.continueTimeLaps {
    color: #ffffff;
    background-color: #979bff;
}

.discontinueTimeLaps {
    color: #ffffff;
    background-color: #ff7a7a;
}
