.container {
    display: flex;
    flex-direction: column;
}
.Home_timelapse {
}
.Home_main {
}
.timeContainerName {
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
}
