.footer {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(255, 255, 255);
    width: 360px;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    /* border: 0.5px solid black !important; */
    box-shadow: 0 0 0 1px black inset;
    border-radius: 30px 30px 0px 0px;
    /* font-size: 50px; */
    color: black;
}
