.container {
    margin: 3% 4%;
    display: flex;
    align-items: center;
}

.imageContainer {
    height: 22vw;
    width: 22vw;
    border-radius: 50px;
}

.infoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    /* justify-content: space-between; */
}

.box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 5vw;
    font-weight: bold;
}

.emailBox {
    font-size: 4.5vw;
    color: #7c8c9b;
    font-weight: bold;
}

.countBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 5vw;
    font-weight: bold;
}

.text {
    font-size: 4.5vw;
    color: #7c8c9b;
    font-weight: bold;
}

.contribute {
    margin-left: 4%;
}

/* .containerBox {
    width: 100%;
    display: flex;
}

.imageContainer {
    height: 22vw;
    width: 22vw;
    border-radius: 50px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.upper {
    display: flex;
    width: 100%;
}

.lower {
    height: 60px;
    width: 240px;
    text-align: start;
    margin-left: 10px;
    display: flex;
}

.articlebox {
    width: 80px;
    font-size: 20px;
    text-align: center;
    align-self: center;
    font-weight: bold;
}
.name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}
.btnbox {
    width: 180px;
    align-self: center;
}

.btn {
    width: 80px;
    font-size: 10px;
}
.innerlower {
    display: flex;
}
.innerhead {
    margin-right: 5px;
    font-family: 'Lobster', sans-serif;
    font-size: 20px;
}
.innerfooter {
    margin-right: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
} */
