.container {
    display: flex;
}

.imageContainer {
    height: 22vw;
    width: 22vw;
    border-radius: 50px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.upper {
    display: flex;
}

.lower {
    height: 60px;
    width: 240px;
    text-align: start;
    margin-left: 10px;
    display: flex;
}

.articlebox {
    width: 80px;
    font-size: 20px;
    text-align: center;
    align-self: center;
}
.name {
    font-weight: bold;
}
.btnbox {
    width: 180px;
    align-self: center;
}

.btn {
    width: 80px;
    font-size: 10px;
}
.innerlower {
    display: flex;
}
.innerhead {
    margin-right: 5px;
    font-family: 'Lobster', sans-serif;
    font-size: 20px;
}
.innerfooter {
    margin-right: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
