.container {
    display: flex;
    flex-direction: column;
}
.nameContainer {
    height: 60px;
    display: flex;
}
.namebox {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.name {
    font-size: 15px;
    font-weight: bold;
}
.id {
    font-size: 15px;
}
.profileimage {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    align-self: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.etc {
    width: fit-content;
    align-self: center;
}
.imageContainer {
    height: 350px;
    width: 360px;
    object-fit: cover;
    border-radius: 15px;
}
.commentContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    writing-mode: horizontal-tb;
    text-align: start;
}
.commentbox {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}
.commentname {
    font-weight: bold;
    margin-right: 5px;
}
.inputbox {
    width: 230px;
    height: 35px;
    font-size: 20px;
    margin-left: 20px;
    border: none; /* 테두리를 없애는 부분 */
    outline: none;
    border-block-end: solid;
}

.imagebox {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    align-self: center;
}

.createbox {
    display: flex;
    justify-self: center;
    height: fit-content;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.innerbox {
    margin-left: 10px;
}

.btn {
    padding: 10px;
    border-radius: 15px;
}
