.container {
    display: flex;
    flex-direction: column;
}

.nameContainer {
    height: 60px;
    display: flex;
}
.namebox {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.name {
    font-size: 15px;
    font-weight: bold;
}
.id {
    font-size: 15px;
}
.profileimage {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    align-self: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.etc {
    width: 40px;
}
.imageContainer {
    height: 350px;
    width: 360px;
    object-fit: cover;
    border-radius: 15px;
}
.tagContainer {
    height: 40px;
    display: flex;
}
.tagitem {
    display: flex;
    width: 70px;
    justify-content: space-evenly;
    align-self: center;
}
.hashTagContainer {
    height: 30px;
    display: flex;
    font-weight: bold;
}
.hash {
    margin-right: 10px;
    border-radius: 10px;
    padding: 3px;
    background-color: #008000;
    color: white;
    text-align: center;
    align-self: center;
}
.commentContainer {
    height: 80px;
    display: flex;
    flex-direction: column;
    border-block-end: solid;
    writing-mode: horizontal-tb;
}
.commentbox {
    display: flex;
    margin-left: 10px;
}
.commentname {
    font-weight: bold;
    margin-right: 5px;
}
.seemore {
    text-align: center;
}
.commentcontent {
}
