.image_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    max-width: 600px; /* 그리드의 최대 너비를 정의합니다. */
    margin: 0 auto; /* 가운데 정렬을 위한 마진 설정. */
}

.image_container img {
    width: 120px;
    height: 120px;
    border-radius: 30px;
}

.imagebox {
    position: relative;
    display: inline-block;
}

/* 4개 이미지의 경우 3개까지 한 행에, 1개는 다음 줄로 내리기 */
.image_container img:nth-child(3n + 4) {
    grid-column: span 3; /* 3개를 차지하게 함 */
}

.lock {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px !important;
    height: 30px !important;
}
.myfeedcontainerName {
    text-align: start;
    font-size: 20px;
    font-weight: bold;
}
